.row:after{
    content: "";
    display: table;
    clear: both;
    }
.column{
    float: left;
    width: 16,6%;
    margin: 10px;
    margin-left: 15px;
    }
body{
    font-family: Arial;
    margin: 0;
    background-image: url(images/background.jpg);
    background-size: 100% 125%;
}
*{
    box-sizing: border-box;
}
#images{
    margin-left: 400px;
}
#pre:hover,
#next:hover {
    background-color: rgb(141, 128, 128);
    width: 100px;
    height: 225px;
}
#next{
    cursor: pointer;
    position: absolute;
    top: 25%;
    width: auto;
    color: white;
    font-size: 150px;
    font-weight: bold;
}
#pre{
    cursor: pointer;
    position: absolute;
    top: 25%;
    color: white;
    font-weight: bold;
    font-size: 150px;
}
#next {
    right: 300px;
    border-radius: 3px 0 0 3px;
}
#pre{
    left: 280px;
    border-radius: 3px 0 0 3px;
}
h1{
    position: relative;
    top: 10%;
    left: 37.5%;
    border:5px black;
    background-color: rgb(71, 69, 69);
    border-radius: 10px;
    width: 25%;
    text-align: center;
}
h2{
    position: relative;
    bottom: 10%;
    left: 46.5%;
    border-radius: 20px;
    width: 8%;
    background-color: rgb(26, 175, 26);
    text-align: center;
    color: white;
    font-size: 50px;
}
.change{
    cursor: pointer;
    opacity: 0.6;
}
.active,
.change:hover {
    opacity: 2;
}
.background1{
    cursor: pointer;
    position: absolute;
    top: 300px;
    right: 10px;
    font-size: larger;
    width: 150px;
    height: 120px;
    text-align: center;
    background-image: url(images/background0.jpg);
    line-height: 40px;
    margin: 10px;
    color:red;
    box-shadow:5px 5px #FFF100;;
    border-radius: 3px 3px 3px 3px;
    border: 20px #FFF100;
}
.background2{
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: larger;
    width: 150px;
    height: 120px;
    text-align: center;
    background-image: url(images/background2.jpg);
    line-height: 40px;
    margin: 10px;
    color:red;
    box-shadow:5px 5px #FFF100;;
    border-radius: 3px 3px 3px 3px;
    border: 20px #FFF100;
}
.background3{
    cursor: pointer;
    position: absolute;
    top: 180px;
    right: 10px;
    font-size: larger;
    width: 150px;
    height: 80px;
    text-align: center;
    background-image: url(images/background3.jpg);
    line-height: 40px;
    margin: 10px;
    color:red;
    box-shadow:3px 3px #FFF100;
    border-radius: 3px 3px 3px 3px;
    border: 20px #FFF100;
  }
.background2:hover{
    width: 160px;
    height: 130px;
}
.background3:hover{
    width: 160px;
    height: 100px;
}
.background1:hover{
    width: 160px;
    height: 130px;
}
.trangchu{
    cursor: pointer;
    position: absolute;
    top: 8.5%;
    border:3px black;
    background-color:white;
    line-height: 50px;
    width: 200px;
    height: 50px;
    border-radius: 85px 50px 90px 50px;
}
.trangchu>a{
    text-decoration: none;
    margin-left: 41px;
    text-align: center;
    font-size: 25px;
    color: black;
}
.trangchu:hover{
    transform: rotate(45deg);
}
.FormDangKi{
    position: absolute;
    top: 18.5%;
    border:3px black;
    background-color:white;
    line-height: 50px;
    width: 200px;
    height: 50px;
    border-radius: 85px 50px 90px 50px;
}
.FormDangKi>a{
    text-decoration: none;
    margin-left: 41px;
    text-align: center;
    font-size: 30px;
    color: black;
}
.FormDangKi:hover{
    transform: rotate(45deg);
    cursor: pointer;
}
.shopping{
    position: absolute;
    top: 28.5%;
    border:3px black;
    background-color:white;
    line-height: 50px;
    width: 200px;
    height: 50px;
    border-radius: 85px 50px 90px 50px;
}
.shopping>a{
    text-decoration: none;
    margin-left: 41px;
    text-align: center;
    font-size: 30px;
    color: black;
}
.shopping:hover{
    transform: rotate(45deg);
    cursor: pointer;
}
